/publishing-artifacts
/example/jats
/example/paper.context.pdf
/example/paper.pdf
/example/paper.jats
/example/paper.crossref
/example/paper.preprint.tex

# JATS schema files
/test/JATS-Publishing-1-2-MathML2-XSD.zip
/test/JATS-journalpublishing1-elements.xsd
/test/JATS-journalpublishing1.xsd
/test/standard-modules