name: Compile example paper

on:
  # Build any branch where either the source data or templates changed
  push:
    paths:
      - 'example/*'
      - 'data/templates/*'
  pull_request:
    paths:
      - 'example/*'
      - 'data/templates/*'
    # Build, but don't push on pull requests

jobs:
  build:
    name: Example PDF
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Build the docker image locally to enable testing
      # updates to the templates. This workflow does not
      # push new images to dockerhub at all, hence why we
      # don't prefix this like openjournals/inara:<tag>
      - name: Build docker
        run: |
          docker build -t inara:edgiest .

      - name: Build draft PDF
        run: >-
          docker run \
              --volume "$(pwd):/data" \
              --user "$(id -u):$(id -g)" \
              inara:edgiest \
              -o "jats,contextpdf,crossref,preprint,tex,pdf" example/paper.md

      - name: Upload draft PDF
        uses: actions/upload-artifact@v3
        with:
          name: draft
          path: |
            example/jats/paper.jats
            example/paper.context.pdf
            example/paper.crossref
            example/paper.pdf
            example/paper.tex
            example/paper.preprint.tex 

      - name: Build production PDF
        run: >-
          docker run \
              --volume "$(pwd):/data" \
              --user "$(id -u):$(id -g)" \
              inara:edgiest \
              -o "jats,contextpdf,crossref,preprint,tex,pdf" -p example/paper.md

      - name: Upload production PDF
        uses: actions/upload-artifact@v3
        with:
          name: production
          path: |
            example/jats/paper.jats
            example/paper.context.pdf
            example/paper.crossref
            example/paper.pdf
            example/paper.tex
            example/paper.preprint.tex 
